/* paleta de colores
#7a8387 (gris medio)
#bccbd2 (gris claro - celeste)
#c7b099 (bizon)
 (gris oscuro)
#1f414a (petroleo - gris)
#9eb4ba (celeste)
#4c4944 (gris -bizon)
#445c64 (petrolep-gris claro)
#4c3137 (morado)
otros colores:
#ac3973 (fucsia)
#ffdb4d (amarillo)

*/


* {
    padding:0;
    margin:0; 
    box-sizing: border-box;
    font-family: 'Gudea', sans-serif;
    }

 html {
    height: 100%;
} 

main {
    background: linear-gradient(rgba(0,0,0,1),rgba(255,255,255,1) 90%); 
    height: 100%;
    position: relative;

}

/* ===================================================================================== */
/* estilos menu navegacion */

header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.bg-custom { 
    background: transparent;
}

.navbar{
    padding: 20px 0;
}

#menu {
    margin-left: auto;
}

.container-fluid .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2em;
    color: #171815;
}

.nav-item {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
}

.nav-item a{
    color: #171815;
}

.navbar-nav .nav-item .nav-link:hover, 
.navbar-nav .nav-item .nav-link.active {
    background: #171815;
    color: #fff;
    transition: 0.5s;
}


/* ===================================================================================== */
/* estilos banner pagina home*/
.banner {
    position: relative;
    background: url(../images/fondo_1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 250px;
    z-index: -20;
}

  .banner::before {
    content: "";
    display: block;
    position: absolute;
    z-index:-20;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,1) 95%);
}

.banner h2 {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    font-size: 2.8em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px fuchsia,
                  0 0 20px fuchsia,
                  0 0 40px fuchsia,
                  0 0 80px fuchsia,
                  0 0 120px fuchsia;
}
  
.banner p {
    margin: 1em  0;
    padding: 0;
    padding-left: 20px;
    font-size: 1.2em;
    color: #fff;
    line-height: 1.5em;
}


/* ===================================================================================== */
/* estilos seccion sobre el instituto pagina home*/

#intro {
    background: transparent;
    color: #fff;
}

#intro h2{
    font-size: 1.8em;
    border-top: 1px solid #fff;
    padding: 0.7rem 0;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1em;
}

#intro p {
    padding: 0;
    font-size: 1.1em;
    color: #fff;
    line-height: 1.5em;
}

.btn-neon {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff; 
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    letter-spacing: 4px;
    overflow-y: hidden;
    transition: 0.2s; 
}
  
.btn-neon:hover{  
    background: fuchsia;
    box-shadow: 0 0 10px fuchsia, 
    0 0 40px fuchsia, 
    0 0 80px fuchsia;
    color: #fff; 
}

/* ===================================================================================== */
/* estilos seccion clases pagina home*/

.container.secciones {
    margin-top: 8%!important;
    margin-bottom: 10%;
}

.card-title {
    text-transform: uppercase;   
}


.btn-neon.sobreBlanco {
    color: #171815;
}

.btn-neon.sobreBlanco:hover {
    color: #fff;
}

.card.shadow {
    border-radius:0;
    border: none;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}


/* ===================================================================================== */
/* estilos footer*/

footer {
    background-color: #171815;
    padding: 90px 0;
    color: #fff;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.navbar-brand.footer {
    font-size: 2em;
    text-transform: uppercase;
}

.redes {
    margin: 20px 0;
}

.redes a {
   margin-right: 25px;
}

.rights-text {
    color: #888;
}

.right-col h3{
    font-size: 26px;
}

.border {
    width: 130px;
    height: 3px;
    background: #fff;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.txtb {
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: black;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    min-width: 260px;
}

.btn-footer {
    padding: 18px 40px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background: #444;
    border: none;
    outline: none;
    letter-spacing: 4px;
    overflow-y: hidden;
    transition: 0.2s; 
    cursor: pointer;
}

  
.btn-footer:hover{  
    background: fuchsia;
    box-shadow: 0 0 10px fuchsia, 
    0 0 40px fuchsia, 
    0 0 80px fuchsia;
    color: #fff; 
}

/* ===================================================================================== */
/* estilos banner titulo paginas*/

.bannerTitulo {
    position: relative;
    background: url(../images/fondo_2.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    padding: 200px 0 200px;
    z-index: -20;
}

  .bannerTitulo::before {
    content: "";
    display: block;
    position: absolute;
    z-index:-20;
    height: 400px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,1) 95%);
}

.bannerTitulo h2 {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    font-size: 2.8em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px fuchsia,
                  0 0 20px fuchsia,
                  0 0 40px fuchsia,
                  0 0 80px fuchsia,
                  0 0 120px fuchsia;
}
  
/* ===================================================================================== */
/* estilos seccion staff*/
.staff {
    padding-top: 100px;
}

#box-img img {
    width: 100%;
}
.col-md-4.profile {
    margin-top: 25px;
}

#box-img {
    opacity: 1;
    display: block;
    position: relative;
}

.col-md-4.profile h2 {
    font-size: 22px;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.col-md-4.profile h3 {
    font-size: 15px;
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 0.1em;

}

#box-img:after {
    content: "";
    opacity: 0;
    background: rgba(0,0,0,.6);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

#box-img ul {
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

#box-img ul li {
    width: 30px;
    height: 30px;
    margin: 3px;
    margin: 7px;
    display: inline-block;
}

#box-img:hover:after {
    opacity: 1;
}

#box-img:hover ul {
    opacity: 1;
}