* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gudea", sans-serif;
}

html {
  height: 100%;
}

/* ===================================================================================== */
/* estilos header menu navegacion */
header {
  position: absolute;
  z-index: 10;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

header .container .navbar {
  margin-top: 0;
  padding: 20px 0;
}

header .container .navbar.bg-custom {
  background: transparent;
}

header .container .navbar .container-fluid #logo {
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
}

header .container .navbar .container-fluid #menu-button.navbar-toggler {
  color: transparent;
}

header .container .navbar .container-fluid #menu-button.navbar-toggler .navbar-toggler-icon {
  background: #fff;
}

header .container .navbar .container-fluid #menu {
  margin-left: auto;
}

header .container .navbar .container-fluid #menu .nav-item {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px;
}

header .container .navbar .container-fluid #menu .nav-item a {
  color: #fff;
}

header .container .navbar .container-fluid #menu .nav-item .nav-link.active, header .container .navbar .container-fluid #menu .nav-item .nav-link:hover {
  color: #fff;
  text-shadow: 0 0 10px fuchsia, 0 0 20px fuchsia, 0 0 40px fuchsia, 0 0 80px fuchsia, 0 0 120px fuchsia;
}

/* ===================================================================================== */
/* estilos banner titulo paginas*/
.bannerTitulo {
  position: relative;
  background: url(../images/fondo_2.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  padding: 200px 0 200px;
  z-index: -20;
}

.bannerTitulo::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -20;
  height: 400px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.1), black 95%);
}

.bannerTitulo h2 {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 10px fuchsia, 0 0 20px fuchsia, 0 0 40px fuchsia, 0 0 80px fuchsia, 0 0 120px fuchsia;
  font-size: 2.8em;
  font-weight: 700;
}

/* ===================================================================================== */
/* estilos footer*/
footer {
  background-color: #171815;
  padding: 90px 0;
  color: #fff;
}

footer .footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

footer .container .footer-container .navbar-brand.footer {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

footer .container .footer-container .redes {
  margin: 20px 0;
}

footer .container .footer-container .redes a {
  margin-right: 25px;
}

footer .container .footer-container .rights-text {
  color: #888;
}

footer .container .footer-container .right-col h3 {
  font-size: 26px;
}

footer .container .footer-container .right-col .border {
  width: 130px;
  height: 3px;
  background: #fff;
}

footer .container .footer-container .right-col .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer .container .footer-container .right-col .contact .txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  background: #ddd;
  border: none;
  outline: none;
  min-width: 260px;
}

footer .container .footer-container .right-col .contact .btn-footer {
  padding: 18px 40px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background: #444;
  border: none;
  outline: none;
  letter-spacing: 4px;
  overflow-y: hidden;
  transition: 0.2s;
  cursor: pointer;
}

footer .container .footer-container .right-col .contact .btn-footer:hover {
  background: fuchsia;
  box-shadow: 0 0 10px fuchsia, 0 0 20px fuchsia, 0 0 40px fuchsia, 0 0 80px fuchsia, 0 0 120px fuchsia;
  color: #fff;
}

/* ===================================================================================== */
/* estilos main pagina contacto*/
main {
  background: linear-gradient(black, white 90%);
  height: 100%;
  position: relative;
}

main .container.formulario .form {
  background: rgba(0, 0, 0, 0.6);
  width: 95%;
  max-width: 800px;
  margin: auto;
  padding: 35px 25px;
}

main .container.formulario .form .form__header .form__title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  font-size: 1.4em;
}

main .container.formulario .form .form__label {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

main .container.formulario .form .form__input, main .container.formulario .form .form__textarea {
  background: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 12px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
}

main .container.formulario .form .form__textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}

main .container.formulario .form .btnSubmit {
  width: 100%;
  outline: none;
  background: #444;
  font-size: 16px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0;
  cursor: pointer;
}

main .container.formulario .form .btnSubmit:hover {
  background: fuchsia;
  box-shadow: 0 0 10px fuchsia, 0 0 20px fuchsia, 0 0 40px fuchsia, 0 0 80px fuchsia, 0 0 120px fuchsia;
}

main .container .contacto {
  display: grid;
  grid-template-columns: 30px 2fr;
  grid-template-rows: 50px  50px 50px 50px 50px;
}

main .container .contacto span {
  padding: 10px;
  font-size: 1em;
}

main .container .maps iframe {
  filter: invert(1) grayscale(1);
}

/* adaptacion  hasta 991px */
@media (max-width: 991px) {
  .navbar .container-fluid #menu .nav-item a {
    text-align: center;
    background: transparent;
  }
  .bannerTitulo {
    padding: 180px 0;
    max-height: 400px;
  }
  .bannerTitulo:before {
    max-height: 39rem;
  }
  .bannerTitulo h2 {
    font-size: 1.8em;
    margin-top: 90px;
  }
  .container .footer-container {
    max-width: 600px;
  }
  .container .footer-container .right-col {
    width: 100%;
    margin-bottom: 60px;
  }
  .container .footer-container .left-col {
    width: 100%;
    text-align: center;
  }
}

/* ========================================================================================= */
/* adaptacion hasta 768px*/
@media (max-width: 768px) {
  .container .footer-container .right-col .btn-footer {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
  .container-fluid #contact-page {
    display: block !important;
  }
}
/*# sourceMappingURL=style.css.map */