* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gudea", sans-serif;
}

html {
  height: 100%;
}

/* ===================================================================================== */
/* estilos header menu navegacion */
header {
  position: absolute;
  z-index: 10;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

header .container .navbar {
  margin-top: 0;
  padding: 20px 0;
}

header .container .navbar.bg-custom {
  background: transparent;
}

header .container .navbar .container-fluid #logo {
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
}

header .container .navbar .container-fluid #menu-button.navbar-toggler {
  color: transparent;
}

header .container .navbar .container-fluid #menu-button.navbar-toggler .navbar-toggler-icon {
  background: #fff;
}

header .container .navbar .container-fluid #menu {
  margin-left: auto;
}

header .container .navbar .container-fluid #menu .nav-item {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px;
}

header .container .navbar .container-fluid #menu .nav-item a {
  color: #fff;
}

header .container .navbar .container-fluid #menu .nav-item .nav-link.active, header .container .navbar .container-fluid #menu .nav-item .nav-link:hover {
  color: #fff;
  text-shadow: 0 0 10px #f4004f, 0 0 20px #f4004f, 0 0 40px #f4004f, 0 0 80px #f4004f, 0 0 120px #f4004f;
}

/* ===================================================================================== */
/* estilos banner titulo paginas*/
.bannerTitulo {
  position: relative;
  background: url(../images/fondo_2.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  padding: 200px 0 200px;
  z-index: -20;
}

.bannerTitulo::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -20;
  height: 400px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.1), black 95%);
}

.bannerTitulo h1 {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 10px #f4004f, 0 0 20px #f4004f, 0 0 40px #f4004f, 0 0 80px #f4004f, 0 0 120px #f4004f;
  font-size: 2.4em;
  font-weight: 700;
}

/* ===================================================================================== */
/* estilos footer*/
footer {
  background-color: #171815;
  padding: 90px 0;
  color: #fff;
}

footer .footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

footer .container .footer-container .navbar-brand.footer {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

footer .container .footer-container .redes {
  margin: 20px 0;
}

footer .container .footer-container .redes a {
  margin-right: 25px;
}

footer .container .footer-container .rights-text {
  color: #888;
}

footer .container .footer-container .right-col h3 {
  font-size: 26px;
}

footer .container .footer-container .right-col .border {
  width: 130px;
  height: 3px;
  background: #fff;
}

footer .container .footer-container .right-col .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer .container .footer-container .right-col .contact .txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  background: #ddd;
  border: none;
  outline: none;
  min-width: 10px;
}

footer .container .footer-container .right-col .contact .btn-footer {
  padding: 18px 40px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background: #444;
  border: none;
  outline: none;
  letter-spacing: 4px;
  overflow-y: hidden;
  transition: 0.2s;
  cursor: pointer;
}

footer .container .footer-container .right-col .contact .btn-footer:hover {
  background: #f4004f;
  box-shadow: 0 0 10px #f4004f, 0 0 20px #f4004f, 0 0 40px #f4004f, 0 0 80px #f4004f, 0 0 120px #f4004f;
  color: #fff;
}

/* ===================================================================================== */
/* estilos banner titulo home*/
.banner {
  position: relative;
  background: url(../images/fondo_1.jpg);
  height: 100vh;
  padding: 250px 0 250px;
  z-index: -20;
  background-size: cover;
  background-position: center;
}

.banner::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -20;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.1), black 95%);
}

.banner h1 {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: 2.4em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #f4004f, 0 0 20px #f4004f, 0 0 40px #f4004f, 0 0 80px #f4004f, 0 0 120px #f4004f;
}

/* ===================================================================================== */
/* estilos seccion sobre el instituto pagina home*/
main #intro {
  background: transparent;
}

main #intro h2 {
  font-size: #171815;
  padding: 0.7rem 0;
  text-transform: uppercase;
  color: #e0bf62;
  font-weight: 700;
  letter-spacing: 0.1em;
}

/* ===================================================================================== */
/* estilos parrafos - extend */
.parrafo, .parrafo--amarillo, .parrafo--gris {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  line-height: 2em;
}

.parrafo--amarillo {
  color: #e0bf62;
}

.parrafo--gris {
  color: #171815;
}

/* ===================================================================================== */
/* estilos botones - mixin */
.btn-neon {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  letter-spacing: 4px;
  overflow-y: hidden;
  transition: 0.2s;
  color: #171815;
  background: #fff;
}

.btn-neon--dark {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  letter-spacing: 4px;
  overflow-y: hidden;
  transition: 0.2s;
  color: #000;
  background: #e0bf62;
}

.btn-neon:hover {
  background: #171815;
  box-shadow: 0 0 10px #e0bf62, 0 0 40px #e0bf62, 0 0 80px #e0bf62;
  color: #fff;
}

.btn-neon--dark:hover {
  background: #171815;
  box-shadow: 0 0 10px #f4004f, 0 0 40px #f4004f, 0 0 80px #f4004f;
  color: #fff;
}

/* ===================================================================================== */
/* estilos seccion clases pagina home*/
.container.secciones .row.g-3 {
  margin-top: 8%;
  margin-bottom: 10%;
  padding-bottom: 20px;
}

.card-title {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 700;
  color: #444;
}

.card-text {
  padding: 10px 20px;
  font-size: 1.2em;
  line-height: 2em;
  color: #444;
}

.btn-neon.sobreBlanco {
  color: #171815;
}

.btn-neon.sobreBlanco:hover {
  color: #fff;
}

.card.shadow {
  border-radius: 0;
  border: none;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}

.container-fluid a {
  text-decoration: none;
}

.tituloAnimado {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 30px 0;
  padding-top: 40px;
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(rgba(255, 255, 255, 0.1), #171815 90%);
  color: #fff;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #f4004f, 0 0 20px #f4004f, 0 0 40px #f4004f, 0 0 80px #f4004f, 0 0 120px #f4004f;
}

/* ===================================================================================== */
/* estilos main pagina contacto*/
main {
  background: linear-gradient(black, white 90%);
  height: 100%;
  position: relative;
}

main .container.formulario .form {
  background: #444;
  width: 95%;
  max-width: 800px;
  margin: auto;
  padding: 35px 25px;
}

main .container.formulario .form .form__header .form__title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  font-size: 1.8em;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #e0bf62, 0 0 20px #e0bf62, 0 0 40px #e0bf62, 0 0 80px #e0bf62, 0 0 120px #e0bf62;
}

main .container.formulario .form .form__label {
  display: block;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  position: relative;
}

main .container.formulario .form .form__input, main .container.formulario .form .form__textarea {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 12px;
  border-radius: 2px;
  font-size: 0.8em;
  color: #e0bf62;
}

main .container.formulario .form .form__textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}

main .container.formulario .form .btnSubmit {
  width: 100%;
  outline: none;
  background: #444;
  font-size: 1em;
  border: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 15px 0;
  cursor: pointer;
}

main .container.formulario .form .btnSubmit:hover {
  background: #171815;
  box-shadow: 0 0 10px #f4004f, 0 0 20px #f4004f, 0 0 40px #f4004f, 0 0 80px #f4004f, 0 0 120px #f4004f;
}

main .container .contacto {
  display: grid;
  grid-template-columns: 30px 2fr;
  grid-template-rows: 50px  50px 50px 50px 50px;
}

main .container .contacto span {
  padding: 10px;
  font-size: 1em;
}

main .container .maps iframe {
  filter: invert(1) grayscale(1);
}

/* adaptacion  hasta 991px */
@media (max-width: 991px) {
  .navbar .container-fluid #menu .nav-item a {
    text-align: center;
    background: transparent;
  }
  .bannerTitulo {
    padding: 180px 0;
    max-height: 400px;
  }
  .bannerTitulo:before {
    max-height: 39rem;
  }
  .bannerTitulo h1 {
    font-size: 1.8em;
    margin-top: 90px;
  }
  .container .footer-container {
    max-width: 600px;
  }
  .container .footer-container .right-col {
    width: 100%;
    margin-bottom: 60px;
  }
  .container .footer-container .left-col {
    width: 100%;
    text-align: center;
  }
}

/* ========================================================================================= */
/* adaptacion hasta 768px*/
@media (max-width: 768px) {
  main .container .contacto {
    margin-top: 20px;
    grid-template-rows: 60px 60px 60px 60px 60px;
  }
  main .container .contacto span {
    font-size: 0.9em;
  }
  .container .footer-container .right-col .btn-footer {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
  .container-fluid #contact-page {
    display: block !important;
  }
}
