
* {
    padding:0;
    margin:0; 
    box-sizing: border-box;
    font-family: 'Gudea', sans-serif;
    }

 html {
    height: 100%;
} 

/* ===================================================================================== */
/* estilos header menu navegacion */

header {
    position: absolute;
    z-index: 10;
    width: 100%;
    background: $fondoHeader;
    color: $colorPrincipal;
    .container { 
        .navbar {
        margin-top: 0;
        padding: 20px 0; 
        &.bg-custom {
            background: transparent;
        }
            .container-fluid {
                #logo {
                    font: {
                        weight: 700;
                        size: $fontSizeBrand;  
                    }
                    color: $colorPrincipal;
                    text-transform: uppercase;
                }
                #menu-button {
                    &.navbar-toggler{
                        color: transparent; 
                        .navbar-toggler-icon {
                        background: $colorPrincipal;    
                    }
                    }                  
                }
                
                #menu {
                    margin-left: auto;
                    .nav-item {
                        font-weight: 700;
                        text-transform: uppercase;
                        padding: 0 10px;
                        & a {
                            color: $colorPrincipal;
                        }
                        .nav-link {
                            &.active, &:hover {
                                color: $colorPrincipal;
                                text-shadow: $sombra-colorSecundario;
                            }
                        }
                    }
                }           
            }
        }
    }
}     
