// Variables 

$fuentePrincipal: 'Gudea', sans-serif;


// Paleta colores

$colorPrincipal: #fff;

$colorSecundario: #f4004f;

$colorTerciario: #444;

$colorAuxiliar: #f9d102;


// Colores de fondos

$fondoBase: linear-gradient(rgba(0,0,0,1),rgba(255,255,255,1) 90%);

$fondoPrincipal: rgba(0,0,0,.8);

$fondoSecundario: #171815;

$fondoCard: #fff;

$degradeeImg: linear-gradient(rgba(255,255,255,.1), rgba(0,0,0,1) 95%);

// Tamaños de fuente

$fontSizeBrand: 2em;

$fontSizeTituloPrincipal: 2.4em;

$fontSizeTituloSecundario: 1.7em;

$fontSizeParrafo: 1.1em;

$smallText: 1em;

$xsText: 0.8em;


// Sombra texto

$sombra-colorSecundario:  0 0 10px $colorSecundario,
0 0 20px $colorSecundario,
0 0 40px $colorSecundario,
0 0 80px $colorSecundario,
0 0 120px $colorSecundario; 


// Mixins 

@mixin parrafo($col) {
    padding: 20px;
    font-size: $fontSizeParrafo;
    font-family: 'Dosis', sans-serif;
    line-height: 1.5em;
    letter-spacing: 2px;
    color: $col;  
}

@mixin tituloPpal {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: $fontSizeTituloPrincipal;
    font-family: 'Dosis', sans-serif;
    color: $colorPrincipal;
    text-shadow: $sombra-colorSecundario;
}

@mixin boton($col,$bg) {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    letter-spacing: 4px;
    overflow-y: hidden;
    transition: 0.2s;
    border: none;
    color: $col;
    background: $bg;
}

@mixin tituloSecundario ($col){
    font-size: $fontSizeTituloSecundario;
    padding: 0.7rem 0;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    color: $col;
}

@mixin tituloAnimado {
    margin-top: 20px;
    margin-bottom:0;
    padding: 30px 0;
    padding-top: 40px;
    font-size: $fontSizeTituloSecundario;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(23,24,21,1) 90%);
    color: $colorPrincipal;
    letter-spacing: 0.1em;
    text-shadow: $sombra-colorSecundario;
}

    

